/*  your css code here. If applicable */
.container{
	display:flex;
	height:400px;
	width:400px;
	background:gray;
	flex-wrap:wrap;
}
.Square{
	height:50px;
	width:50px;
	background:red;
	margin:2px;
}
.Square:hover{
	background:yellow;
	transition-duration:1s;
}